*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #f1cbb9;
    margin-left: 40px;
}
h1{
    margin-left: 450px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 40px;
}
table{
    width: 40%;
    border-collapse: collapse;
    font-size: 18px;
}
table, th, td {
    border: 1px solid;
    
  }
th, td {
    padding: 10px;
    background-color: white;
  }

  .pastel-adorno{
      text-align: center;
      font-weight: bolder;
  }
  .entregos{
      width: 90%;
  }